[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
ipython = "*"
unidecode = "*"
gunicorn = "*"
data-structs = {git = "https://github.com/kevin-meyers/data-struct-algo"}

[requires]
python_version = "3.7"
